body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: pink;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px; /* Crește distanța între butoane */
}

button {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#yes-btn {
    background-color: green;
    color: white;
}

#no-btn {
    background-color: red;
    color: white;
}

.hidden {
    display: none;
}

#gif-container img {
    width: 300px;
    margin-top: 20px;
}
